
body {
  font-family: 'Segoe UI', sans-serif;
  background: #1f0036;
  color: white;
}

header {
  background: #2b2bb2;
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
}
